{
  "openapi": "3.0.0",
  "info": {
    "title": "API from HAR Analysis",
    "version": "1.0.0",
    "description": "Auto-generated from HAR analysis"
  },
  "servers": [
    {
      "url": "https://img.naukimg.com"
    }
  ],
  "paths": {
    "/mnjuser/homepage": {
      "get": {
        "summary": "GET /mnjuser/homepage",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/webpack-98e018d7172db6f5.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/webpack-98e018d7172db6f5.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/main-app-e7ed7af89c05b048.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/main-app-e7ed7af89c05b048.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/8139-c0e2d93233a1284f.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/8139-c0e2d93233a1284f.js",
        "parameters": []
      }
    },
    "/akam/13/3ce348e8": {
      "get": {
        "summary": "GET /akam/13/3ce348e8",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/2443530c-05f5f9c36d9c0116.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/2443530c-05f5f9c36d9c0116.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/c336e61763b75ee6.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/c336e61763b75ee6.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/2672c06d114cdca9.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/2672c06d114cdca9.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/7ac4a6950080226a.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/7ac4a6950080226a.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/2bc43d26759e2966.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/2bc43d26759e2966.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/510d7db3becc8c35.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/510d7db3becc8c35.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/css/58d48825c3950e2f.css": {
      "get": {
        "summary": "GET /s/9/105/_next/static/css/58d48825c3950e2f.css",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/fac3a283-5be48d7829be91b5.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/fac3a283-5be48d7829be91b5.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/2435-10acfd04b1985d7e.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/2435-10acfd04b1985d7e.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/8940-3d6fc7d7063ec781.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/8940-3d6fc7d7063ec781.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/5469-2fcd77d0a70a2abf.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/5469-2fcd77d0a70a2abf.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/325-e40e8199495baf76.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/325-e40e8199495baf76.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/6394-c68cffa6ce9625fb.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/6394-c68cffa6ce9625fb.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/4224-ceb3c883028a84c4.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/4224-ceb3c883028a84c4.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/app/layout-47b460cbe6b487db.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/app/layout-47b460cbe6b487db.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/app/mnjuser/homepage/error-4ba54ae51df7f94f.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/app/mnjuser/homepage/error-4ba54ae51df7f94f.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/app/mnjuser/homepage/page-c1cf2614aa81e776.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/app/mnjuser/homepage/page-c1cf2614aa81e776.js",
        "parameters": []
      }
    },
    "/s/0/0/i/transparentImg.png": {
      "get": {
        "summary": "GET /s/0/0/i/transparentImg.png",
        "parameters": []
      }
    },
    "/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2": {
      "get": {
        "summary": "GET /s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2",
        "parameters": []
      }
    },
    "/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2": {
      "get": {
        "summary": "GET /s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2",
        "parameters": []
      }
    },
    "/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2": {
      "get": {
        "summary": "GET /s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2",
        "parameters": []
      }
    },
    "/s/0/0/c/fonts/static/satoshi/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2": {
      "get": {
        "summary": "GET /s/0/0/c/fonts/static/satoshi/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2",
        "parameters": []
      }
    },
    "/akam/13/pixel_3ce348e8": {
      "post": {
        "summary": "POST /akam/13/pixel_3ce348e8",
        "parameters": []
      }
    },
    "/s/0/1/j/ub_v1.16.min.js": {
      "get": {
        "summary": "GET /s/0/1/j/ub_v1.16.min.js",
        "parameters": []
      }
    },
    "/s/0/0/j/nLoggerJB_v3.4.min.js": {
      "get": {
        "summary": "GET /s/0/0/j/nLoggerJB_v3.4.min.js",
        "parameters": []
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "GET /favicon.ico",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/1963.7d9d77914a8664cc.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/1963.7d9d77914a8664cc.js",
        "parameters": []
      }
    },
    "/cloudgateway-mynaukri/resman-aggregator-services/v1/users/self/dashboard": {
      "get": {
        "summary": "GET /cloudgateway-mynaukri/resman-aggregator-services/v1/users/self/dashboard",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/s/9/105/_next/static/chunks/1778.be1aabf1dc75b363.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/1778.be1aabf1dc75b363.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/647.9e6b82b3bbda979d.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/647.9e6b82b3bbda979d.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/info.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/info.svg",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/arrow.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/arrow.svg",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/home.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/home.svg",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/jobs.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/jobs.svg",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/company.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/company.svg",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/assets/blog.svg": {
      "get": {
        "summary": "GET /s/9/105/_next/static/assets/blog.svg",
        "parameters": []
      }
    },
    "/s/7/0/j/widget-client-ni.min.js": {
      "get": {
        "summary": "GET /s/7/0/j/widget-client-ni.min.js",
        "parameters": []
      }
    },
    "//uba": {
      "get": {
        "summary": "GET //uba",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "rad",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/s/9/105/_next/static/chunks/tracking.4c548c0510ae6df1.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/tracking.4c548c0510ae6df1.js",
        "parameters": []
      }
    },
    "/gtm.js": {
      "get": {
        "summary": "GET /gtm.js",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/s/9/105/_next/static/chunks/9813.fe6320f6733a0e9d.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/9813.fe6320f6733a0e9d.js",
        "parameters": []
      }
    },
    "/s/9/105/_next/static/chunks/4506.14ae4ffaecf6088e.js": {
      "get": {
        "summary": "GET /s/9/105/_next/static/chunks/4506.14ae4ffaecf6088e.js",
        "parameters": []
      }
    },
    "/s/7/0/j/naukri-widget_v12.36-modern.min.js": {
      "get": {
        "summary": "GET /s/7/0/j/naukri-widget_v12.36-modern.min.js",
        "parameters": []
      }
    },
    "/cloudgateway-mynaukri/resman-aggregator-services/v0/users/self/profiles/18e6c5f2b2d6f71cb1abe71e0a70ccc5c0234cac14d1dd83b679862093b973de/photo": {
      "get": {
        "summary": "GET /cloudgateway-mynaukri/resman-aggregator-services/v0/users/self/profiles/18e6c5f2b2d6f71cb1abe71e0a70ccc5c0234cac14d1dd83b679862093b973de/photo",
        "parameters": []
      }
    },
    "/cloudgateway-mynaukri/resman-aggregator-services/v2/users/self": {
      "get": {
        "summary": "GET /cloudgateway-mynaukri/resman-aggregator-services/v2/users/self",
        "parameters": [
          {
            "name": "expand_level",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "properties",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    }
  }
}